/* Establece el fondo de la ventana principal */
.root {
    -fx-background-color: #ccffcc; /* verde claro */
}

/* Estilo para los botones */
.button {
    -fx-background-color: #006600; /* verde oscuro */
    -fx-text-fill: white;           /* texto blanco para contraste */
    -fx-font-weight: bold;
    -fx-padding: 8px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-pref-width: -1;
    -fx-pref-height: -1;
    -fx-min-width: 0;
        -fx-min-height: 0;
}

/* Estilo para los botones al pasar el cursor */
.button:hover {
    -fx-background-color: #004d00; /* un verde más oscuro al pasar el mouse */
}

/* Estilo para los botones al hacer clic */
.button:pressed {
    -fx-background-color: #003300; /* verde aún más oscuro al hacer clic */
}

/* Texto en la ventana */
.label {
    -fx-text-fill: #003300; /* color verde oscuro */
}
